<p id="notice"><%= notice %></p>

<p>
  <strong>Show time:</strong>
  <%= @show.show_time %>
</p>

<p>
  <strong>Film:</strong>
  <%= @show.film_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
